
.papan-menu{
	/*background:#5a5a5a;*/
	background:#EBEFF9;
	padding:5px;
	font-size:11px;
	color:#9e9e9e;
	border-radius: 0px 0px 3px 3px;
}

.papan-menu .box-menu,
.papan-menu .last-box-menu{
	padding: 5px 10px;
	border-right:1px solid #aaa;
}
.papan-menu .last-box-menu{
	border-right:none;
}

.favorite{
	/*color:#eee;*/
	font-size:16px;
	cursor:pointer;
	text-shadow: white 1px 1px 1px;
	color: #ff0099;
}
.favorite:hover{
	color:#000;
}
.japri{
	color:#eee;
	font-size:16px;
	cursor:pointer;
	text-shadow: white 1px 1px 1px;
	color: #2E4987;
}

.japri:hover{
	color:#000;
}

.komentar{
	color:#eee;
	font-size:16px;
	cursor:pointer;
	text-shadow: white 1px 1px 1px;
	color: #2E4987;
}
.komentar:hover{
	color:#000;
	
}
.komentar span{
	color:#eee;
	font-size:10px;
	text-shadow: white 0;
	padding-left:3px;
}

.belanja{
	color:#eee;
	font-size:16px;
	cursor:pointer;
	text-shadow: white 1px 1px 1px;
	color: #2E4987;
}

.belanja:hover{
	color:#000;
}
/*----------------------------*/

.kotak-komentar{
	font-size:11px;
	height:auto;
	/*position:absolute;
	width: 190px;
	*/
	
	background: #fff;
	border: 1px solid #AAA;
	border-top: 0px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px 2px 15px;
	margin-left: -16px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 5px 15px;
	
	/*background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	*/
	z-index:9;
}

.kotak-komentar h3{
	
	margin-top:5px;
}

.kotak-pesan .input-prepend{

	clear:both;
	padding-bottom:10px;
}
.kotak-pesan .input-prepend input{
	
	width:75%;
	padding: 4px 5px;
	height: 21px;
}

.kotak-pesan .input-prepend textarea{
	width:75%;
	padding: 4px 5px;
	margin-top:0px;
	height: 41px;
}


.input-prepend .add-on, .input-append .add-on {
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
    border-radius: 3px 0 0 3px;
    color: #999999;
    display: block;
    float: left;
    font-weight: normal;
    height: 21px;
    line-height: 21px;
    margin-right: -1px;
    min-width: 16px;
    padding: 4px 5px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: auto;
}

.kotak-pesan {
	/*width:100%;*/
	
	font-size:11px;
	height:auto;
	/*position:absolute;*/
	/*width: 190px;
	*/
	
	background: #eee;
	border: 1px solid #AAA;
	border-top: 0px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	margin-left: -16px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	z-index:9;
}

.btn:first-child {
}

.btn:first-child {
}

.btn-small {
    font-size: 12px;
    line-height: 19px;
    padding: 5px 9px;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
   /* background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);*/
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
a.btn {
	text-decoration:none;
}
/*----------------------------------------*/
.kotak-penjual{
	padding:0px 0px;
	margin-bottom:5px;
}

.kotak-penjual img.avatar{
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inner 0 0 5px #888;
}

.kotak-penjual a{
	text-decoration:none;
	text-transform:capitalize;
}

/*----------------------------------------*/
#papan-menukotakpesan{
	/*background:#eee;*/
	clear:both;
	padding:5px;
}

.pesanmasuk{
	font-weight:bold;
	color:red;
	padding:2px;
	font-size:11px;
	background:none;
	border-radius: 5px;
	
}

.inbox-menu-mailbox, .compose-menu-mailbox, .daftar-menu-mailbox {
	font-size:16px;
	padding:0px 5px;
	-webkit-box-sizing: content-box;
	-webkit-user-select: none;
	
	color: #2E4987;
	cursor: default;
	
	font-weight: bold;
	text-align: center;
	text-shadow: white 0 1px 0;
	box-sizing: content-box;
	-webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAABCCAYAAABaQIagAAACmUlEQVRYhc2Yy2sTURSHB+myuC/ixq3dd9l9QBe6k+J/Ie5qWhBEKV2IKIJNbdOiKApdVBeKj1WIBaUYo7Y1SfOaJjN5NOQxNybX86szMs1tbefAhQ58MPd3zvlymVmEuYaU0vBz41FhhJggbhJRYtkl6maojQzODUpCxLxv+DDQE1JEFA4R173GN2u7MavWtXp92ZfuhXtkqPmEmBnyi66icP9leSVjOll5xIUe9LqyiT0R3Zz1noVd79p92kO325OO05Ptzu99IEMNPdid79md+beb958bcTQ1W91jgV7MeLsypiKFWSzy5Y7daAoZhFyps7crcswY4bnCIhbVuujVG0IGwa45DmanI4WI4b2B6q6QHLz5Eyyq1IXkoE9kU8hBFdXwOoOjiCwKOegTlatCctAnKlHIQRVVqMBAEe1QyEEV2VRgoIhMCjnoExUtITnoExXKQnLQJ8pTyEER5Ur4nwqOPlF2R0gO+kTbppAc9IkyFHJQROmikBz0iVIFITnoE/2ikIMqylOBgSLaopCDPtFmTkgO+kQbWSE56BP9pJCDKtqmAgNF9INCDvpE3zNCcjjBoqm5v9+zibToJakQhK8pR2B2OlJcMG5FzYdYrCXblWSaGgLwKdm2MXt7yXxgRFatMBbP3tXi36gYBMxgdn7VmjTWt1qX6bt2CQH9QuW4kri7G8yub7Yu4QBhlIxTCGefllY+fmlmj5KgB72YefzKDpPjPESnO6J/8e7z0oz3Bp68rcViibaVSAnpBxlqXh9mMAuHd0gySlx48aF6jT69F73Gw0APejGD3fhPa04RYyhs5DpXFl7bk3eWzXuDAmSooceVjLmz+499iHNEyG36HyG39+DzI5dhd7vjBwjG3drw4NwfqB39XklcId0AAAAASUVORK5CYII=) 8 8 10 8;
	border-width: 4px 4px 5px;
}

.inbox-menu-mailbox .label, .compose-menu-mailbox .label {
	font-size:12px;
	margin-left:5px;
	  vertical-align: middle;
}